.AddComment {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}
form .formContainer {
    display: flex;
    flex-flow: column ;
}
form .formContainer img {
    width: 3rem;
    transform: translateY(3.6rem);
}
.AddComment form textarea {
    padding: 1rem;
    border-radius: 4px;
    display: block;
    width: 100%;
    border: 1px solid #eaecf1;
    outline: none;
}

button[type='submit'] {
    padding: 1.6rem 2.7rem;
    border-radius: 0.6rem;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: #5357b6;
    text-transform: uppercase;
    margin-left: auto;
}