.Comment {
    position: relative;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.Comment  article nav{
    margin: 1rem 0;
}
.Comment  article nav .author{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
}
.Comment  article nav .author img{
    width: 3rem;
}
.Comment  article nav .author .time{
    color: hsl(211, 10%, 45%);
}
.Comment  article nav button{
    position: absolute;
    bottom: 1.9rem;
    border: none;
    right: 1.9rem;
    background-color: transparent;
    color: #5357b6;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
}
.Comment  article .text{
    text-align: left;
    color: #9e9e9e;
    padding: 1rem;
}
.Comment  aside{
    width: 10rem;
    display: flex;
    margin: 1rem 1rem 0;
    background-color: hsl(223, 19%, 93%);
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    color: #5357b6;
    font-weight: bold;
}

.Comment aside button {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    color: #9b9be2;
}
